services:
    -
        class: Sourcetoad\ShapeParser\PHPStan\ShapeFactoryDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: Sourcetoad\ShapeParser\PHPStan\LenientReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: Sourcetoad\ShapeParser\PHPStan\FallbackReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: Sourcetoad\ShapeParser\PHPStan\NullableReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: Sourcetoad\ShapeParser\PHPStan\OptionalReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
