services:
    -
        class: Sourcetoad\ShapeParser\PHPStan\ShapeDynamicReturnTypeExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: Sourcetoad\ShapeParser\PHPStan\LenientReturnTypeExtension
        tags:
            - phpstan.broker.dynamicStaticMethodReturnTypeExtension
    -
        class: Sourcetoad\ShapeParser\PHPStan\LenientMethodReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
